{% extends 'base.html' %}

{% block title %}
{{ artisan.user.get_name }}
{% endblock title %}

{% block r %}r{% endblock r %}

{% block content %}
<div class="artisan-header"
    style="background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url({{ images.0.image.url }});">
    <img class="artisan-page-img" src="{{ artisan.user.photo.url }}" alt="John Doe" />
    <button class="artisan-page-like" href="#">
        <i class="ion-ios-heart-outline"></i>
    </button>
    <div class="artisan-text-box">
        <h3 class="artisan-box-name">
            <span class="box-name-big">{{ artisan.user.fullname }}</span>
            <span class="box-name-small">{{ artisan.job }}</span>
        </h3>

    </div>
</div>
<section class="artisan-features">
    <div class="about" style="width: 100%;">
        <h3 class="about-head">About {{ artisan.user.get_name }}</h3>
        <p class="about-text" style="font-size: 22px;">
            {{ artisan.about }}
        </p>
        <div class="about-contact" style="margin: 0 auto; width: 75%;">
            <span>
                <i class="ion-android-call"></i>
                <p>0{{ artisan.user.phone }}</p>
            </span>

            <span>
                <i class="ion-ios-email"></i>
                <p>{{ artisan.user.email }}</p>
            </span>

            <span>
                <i class="ion-ios-location"></i>
                <p>{{ artisan.address }}</p>
            </span>
        </div>

    </div>
    <div class="about-images">

    </div>
</section>
<h3 class="show-head">{{ artisan.user.get_name }} Showcase</h3>
<section class="artisan-gallery">

    {% for image in images %}
    <figure class="gallery__item gallery__item--{{ forloop.counter }}">
        <img src="{{ image.image.url }}" alt="Gallery image 1" class="gallery__img" />
    </figure>
    {% endfor %}


</section>


<section style="width: 100%; height: 60vh; margin-top: 80px;">
    <div id='map' style='width: 100%; height: 100%;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicmF6Ym95IiwiYSI6ImNrYjkybTA5ZjBhM2kyc3BpYjVrOGEzMmkifQ.DUMYw49QNZ1EYzbuBnVo3Q';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [{{ artisan.long }}, {{ artisan.lat }}], // starting position [lng, lat]
        zoom: 15 // starting zoom
        });

        var marker = new mapboxgl.Marker()
        marker.setLngLat([{{ artisan.long }}, {{ artisan.lat }}])
        marker.addTo(map); // add the marker to the map
    </script>
</section>


<button class="btn-hire" type="submit">Contact {{ artisan.user.get_name }}</button>
{% endblock content %}