{% extends 'base.html' %} 
{% block title %} Home {% endblock title %} 
{% block r %} 
{% endblock r %} 
{% block content %}
<header class="header">
  <div class="text-box">
    <h1 class="large-heading">Why Give it away, When you can sell it.</h1>
    <a class="hero-btn" href="#">Get Started</a>
  </div>
</header>
<section class="features">
  <h2 class="section-heading">What We Do</h2>
  <div class="feature-content">
    <div class="feature">
      <i class="ion-android-open icon-feature"></i>
      <h4 class="heading-4 heading-4--dark">Buy and Sell</h4>
      <p class="feature__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ratione
        expedita unde eos eveniet error?
      </p>
    </div>
    <div class="feature">
      <i class="ion-android-open icon-feature"></i>
      <h4 class="heading-4 heading-4--dark">Get Artisan</h4>
      <p class="feature__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ratione
        expedita unde eos eveniet error?
      </p>
    </div>
    <div class="feature">
      <i class="ion-android-open icon-feature"></i>
      <h4 class="heading-4 heading-4--dark">Online Blog</h4>
      <p class="feature__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ratione
        expedita unde eos eveniet error?
      </p>
    </div>
  </div>
</section>
<section class="ads-popular">
  <div class="head-box">
    <h3 class="">Latest Ads</h3>
  </div>
  <div class="row">
    <div class="ads-card">
      <img class="ads-img" src="img/phone2.jpg" alt="Iphone 2" />
      <i class="ion-ios-star-outline icon-star"></i>
      <h4 class="title">Iphone Six Plus</h4>
      <div class="card-bottom">
        <p class="sub-title">&#8358;75,000</p>
        <a class="btn btn-details" href="#">
          Details
          <i class="ion-ios-arrow-thin-right icon-btn"></i>
        </a>
      </div>
    </div>

    <div class="ads-card">
      <img class="ads-img" src="img/phone2.jpg" alt="Iphone 2" />
      <i class="ion-ios-star-outline icon-star"></i>
      <h4 class="title">Iphone Six Plus</h4>
      <div class="card-bottom">
        <p class="sub-title">&#8358;75,000</p>
        <a class="btn btn-details" href="#">
          Details
          <i class="ion-ios-arrow-thin-right icon-btn"></i>
        </a>
      </div>
    </div>

    <div class="ads-card">
      <img class="ads-img" src="img/phone2.jpg" alt="Iphone 2" />
      <i class="ion-ios-star-outline icon-star"></i>
      <h4 class="title">Iphone Six Plus</h4>
      <div class="card-bottom">
        <p class="sub-title">&#8358;75,000</p>
        <a class="btn btn-details" href="#">
          Details
          <i class="ion-ios-arrow-thin-right icon-btn"></i>
        </a>
      </div>
    </div>

    <div class="ads-card">
      <img class="ads-img" src="img/phone2.jpg" alt="Iphone 2" />
      <i class="ion-ios-star-outline icon-star"></i>
      <h4 class="title">Iphone Six Plus</h4>
      <div class="card-bottom">
        <p class="sub-title">&#8358;75,000</p>
        <a class="btn btn-details" href="#">
          Details
          <i class="ion-ios-arrow-thin-right icon-btn"></i>
        </a>
      </div>
    </div>

    <div class="ads-card">
      <img class="ads-img" src="img/phone2.jpg" alt="Iphone 2" />
      <i class="ion-ios-star-outline icon-star"></i>
      <h4 class="title">Iphone Six Plus</h4>
      <div class="card-bottom">
        <p class="sub-title">&#8358;75,000</p>
        <a class="btn btn-details" href="#">
          Details
          <i class="ion-ios-arrow-thin-right icon-btn"></i>
        </a>
      </div>
    </div>

    <div class="ads-card">
      <img class="ads-img" src="img/phone2.jpg" alt="Iphone 2" />
      <i class="ion-ios-star-outline icon-star"></i>
      <h4 class="title">Iphone Six Plus</h4>
      <div class="card-bottom">
        <p class="sub-title">&#8358;75,000</p>
        <a class="btn btn-details" href="#">
          Details
          <i class="ion-ios-arrow-thin-right icon-btn"></i>
        </a>
      </div>
    </div>
  </div>
  <a class="view-all-btn white" href="#"> See More </a>
</section>
<section class="artisan-popular">
  <div class="head-box">
    <h3 class="blue-text">Popular Artisan</h3>
  </div>

  <div class="row">
    <div class="art-card">
      <img src="img/person-1.jpg" alt="Person" class="art-img" />
      <div class="card-body">
        <h3 class="title-art">John Doe</h3>
        <h4 class="title2">Web Developer</h4>
      </div>
      <div class="card-bottom">
        <span>
          <i class="ion-ios-heart icon-likes"></i>
          <p class="like-num">245</p>
        </span>
        <a class="btn btn-art" href="#">Details</a>
      </div>
    </div>

    <div class="art-card">
      <img src="img/person-1.jpg" alt="Person" class="art-img" />
      <div class="card-body">
        <h3 class="title-art">John Doe</h3>
        <h4 class="title2">Web Developer</h4>
      </div>
      <div class="card-bottom">
        <span>
          <i class="ion-ios-heart icon-likes"></i>
          <p class="like-num">245</p>
        </span>
        <a class="btn btn-art" href="#">Details</a>
      </div>
    </div>

    <div class="art-card">
      <img src="img/person-1.jpg" alt="Person" class="art-img" />
      <div class="card-body">
        <h3 class="title-art">John Doe</h3>
        <h4 class="title2">Web Developer</h4>
      </div>
      <div class="card-bottom">
        <span>
          <i class="ion-ios-heart icon-likes"></i>
          <p class="like-num">245</p>
        </span>
        <a class="btn btn-art" href="#">Details</a>
      </div>
    </div>

    <div class="art-card">
      <img src="img/person-1.jpg" alt="Person" class="art-img" />
      <div class="card-body">
        <h3 class="title-art">John Doe</h3>
        <h4 class="title2">Web Developer</h4>
      </div>
      <div class="card-bottom">
        <span>
          <i class="ion-ios-heart icon-likes"></i>
          <p class="like-num">245</p>
        </span>
        <a class="btn btn-art" href="#">Details</a>
      </div>
    </div>

    <div class="art-card">
      <img src="img/person-1.jpg" alt="Person" class="art-img" />
      <div class="card-body">
        <h3 class="title-art">John Doe</h3>
        <h4 class="title2">Web Developer</h4>
      </div>
      <div class="card-bottom">
        <span>
          <i class="ion-ios-heart icon-likes"></i>
          <p class="like-num">245</p>
        </span>
        <a class="btn btn-art" href="#">Details</a>
      </div>
    </div>

    <div class="art-card">
      <img src="img/person-1.jpg" alt="Person" class="art-img" />
      <div class="card-body">
        <h3 class="title-art">John Doe</h3>
        <h4 class="title2">Web Developer</h4>
      </div>
      <div class="card-bottom">
        <span>
          <i class="ion-ios-heart icon-likes"></i>
          <p class="like-num">245</p>
        </span>
        <a class="btn btn-art" href="#">Details</a>
      </div>
    </div>
  </div>
  <a class="view-all-btn blue-btn" href="#"> See More </a>
</section>
<section class="latest-post">
  <h2 class="section-heading">Blog</h2>
  <div class="row">
    <div class="post_card">
      <div class="post_card-head">
        <img class="post_card-img" src="img/cars4.jpg" alt="" />
        <div class="post_card-date">
          <span>26 Jun 2019</span>
        </div>
      </div>
      <div class="post_card-body">
        <h4 class="post_card-heading">Skills to develop for your child.</h4>
        <p class="post_card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <div class="post_card-footer">
          <a class="post_card-btn" href="#">Read More</a>
          <div class="card-inner">
            <p>Rasheed</p>
            <span class="post_comment_count">
              <i class="ion-android-textsms"></i>
              <p>5</p>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="post_card">
      <div class="post_card-head">
        <img class="post_card-img" src="img/cars4.jpg" alt="" />
        <div class="post_card-date">
          <span>26 Jun 2019</span>
        </div>
      </div>
      <div class="post_card-body">
        <h4 class="post_card-heading">Skills to develop for your child.</h4>
        <p class="post_card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <div class="post_card-footer">
          <a class="post_card-btn" href="#">Read More</a>
          <div class="card-inner">
            <p>Rasheed</p>
            <span class="post_comment_count">
              <i class="ion-android-textsms"></i>
              <p>5</p>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="post_card">
      <div class="post_card-head">
        <img class="post_card-img" src="img/cars4.jpg" alt="" />
        <div class="post_card-date">
          <span>26 Jun 2019</span>
        </div>
      </div>
      <div class="post_card-body">
        <h4 class="post_card-heading">Skills to develop for your child.</h4>
        <p class="post_card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        </p>
        <div class="post_card-footer">
          <a class="post_card-btn" href="#">Read More</a>
          <div class="card-inner">
            <p>Rasheed</p>
            <span class="post_comment_count">
              <i class="ion-android-textsms"></i>
              <p>5</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact" id="contact-section">
  <div class="contact-info">
    <h3 class="section-heading">Get in touch</h3>
    <p class="con-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius
      pharetra lorem, nec suscipit nulla malesuada ac. Maecenas varius leo
      mauris, vel ultrices elit ultrices at
    </p>
    <div class="contact-address">
      <div class="address">
        <i class="ion-android-call address-icon"></i>
        <p class="address-text">08024283327, 08167562989</p>
      </div>

      <div class="address">
        <i class="ion-ios-email address-icon"></i>
        <p class="address-text">ramonrash2@gmail.com</p>
      </div>

      <div class="address">
        <i class="ion-ios-location address-icon"></i>
        <p class="address-text">
          The Federal Polythecnic, Ilaro P.M.B 50, Ogun State
        </p>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <form class="" action="" method="POST" accept-charset="utf-8">
      <h4 class="form-heading">Say Something</h4>
      <div class="form-group">
        <input type="text" id="name" placeholder="Full Name" required />
      </div>
      <div class="form-group">
        <input type="email" id="email" placeholder="Email" required />
      </div>
      <div class="form-group">
        <textarea id="message" placeholder="Message" required></textarea>
      </div>
      <div class="form-group">
        <button class="btn-submit" type="submit">Send</button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
