{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block r %}r{% endblock r %}

{% block content %}
    <section class="form-section" style="margin: 10rem 0rem">
        <form class="login-form" action="" method="post" accept-charset="utf-8">
        {% csrf_token %}
          <h3 class="form-heading">Register</h3>
          
          
          {% if messages %}
            
            {% for message in messages %}
                <div class="alert error">
                    <p>{{message}}</p>
                </div>
            {% endfor %}
                
              
          {% endif %}
                            
          
          <div class="form-group">
            <input type="text" placeholder="Fullname" name="fullname" required />
          </div>

          <div class="form-group">
            <input type="email" placeholder="Email" name="email" required />
          </div>
          <div class="form-group">
            <input type="tel" placeholder="Phone Number" name="number" required />
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" name="password1" required />
          </div>
          <div class="form-group">
            <input type="password" placeholder="Confirm Password" name="password2" required />
          </div>
          <div class="form-group">
            <button type="submit" class="btn-submit">Register</button>
          </div>
          <p class="form-text">
            Already have an account?
            <a class="form-link" href="{% url 'login' %}">Login</a>
          </p>
        </form>
      </section>
{% endblock content %}
    
    
    