{% extends 'base.html' %}

{% block title %}
Ads
{% endblock title %}

{% block r %}r{% endblock r %}

{% block content %}
<div style="width: 100%; height: 100px; margin-top: 30px; padding: 0 2.5rem;">
    <a href="{% url 'add_post_view' %}" class="top-btn">Add Post</a>
</div>
<section class="posts-container">
    <div class="row">

        {% for post in posts %}
        <div class="post_card" style="width: 100%; height: 20rem;">
            <div class="post_card-body">
                <h4 class="post_card-heading">
                    {{ post.title }}.
                </h4>
                <p class="post_card-text">
                    {{ post.body|truncatechars:300 }}
                </p>
                <div class="post_card-footer">
                    <a class="post_card-btn" href="{% url 'blog_details_view' post.id %}">Read More</a>
                    <div class="card-inner">
                        <p>{{ post.user.get_name }}</p>
                        <span class="post_comment_count">
                            <i class="ion-android-textsms"></i>
                            <p>{{ count }}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
</section>

<div class="pagination">

    {% if data.has_previous %}
    <a href="?page=1" class="page">
        <i class="ion-ios-arrow-left"></i>
        <i class="ion-ios-arrow-left"></i>
    </a>
    <a href="?page={{ data.previous_page_number}}" class="page">
        <i class="ion-ios-arrow-left"></i>
    </a>
    {% endif %}



    {% for num in data.paginator.page_range %}

    {% if data.number == num %}
    <strong class="page">{{ num }}</strong>

    {% elif num > data.number|add:'-3' and num < data.number|add:'3'%}
    <a href="?page={{ num }}" class="page">{{ num }}</a>
    {% endif %}

    {% endfor %}


    {% comment %} <a href="#" class="page">
        1
    </a>
    <a href="#" class="page">
        2
    </a>
    <a href="#" class="page">
        3
    </a> {% endcomment %}

    {% if data.has_next %}
    <a href="?page={{ data.next_page_number }}" class="page">
        <i class="ion-ios-arrow-right"></i>
    </a>
    <a href="?page={{ data.paginator.num_pages }}" class="page">
        <i class="ion-ios-arrow-right"></i>
        <i class="ion-ios-arrow-right"></i>
    </a>
    {% endif %}

</div>
{% endblock content %}