{% extends 'base.html' %}

{% block title %}
{{ad.title}}
{% endblock title %}

{% block r %}r{% endblock r %}

{% block content %}
    <section class="details-container">
     <div class="details-images">
       <div class="image-view">
         <figure class="image-fig-view">
           <img class="img-view" src="{{ images.0.image.url }}" alt="Image 1" />
         </figure>
       </div>
     </div>
     <div class="details-info">
       <div class="details-top">
         <h3 class="details-title">{{ ad.title }}</h3>
         <p class="details-big">
           <span class="cur">&#8358;</span>
           <span class="price">
             {{ ad.price }}
           </span>
         </p>
       </div>
       <div class="details-body">
            <form action="{% url 'like_ad' ad.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="ad_id" class="btn-like" value="{{ ad.id }}"
                    style="border: none; background: #ccc; cursor: pointer; outline: none">
                    
                    <i class="ion-ios-star-outline"></i>
                    <p class="likes-count">{{ ad.liked.count }}</p>
                </button>

            </form>
         
         <div class="details-des">
           <p class="text">
             {{ ad.description }}
           </p>
         </div>
       </div>
       <div class="details-bottom">
         <div class="seller-info">
           <img class="seller-img" src="{{ ad.user.photo.url }}" alt="" />
           <h5 class="seller-name">{{ ad.user.fullname }}</h5>
         </div>
         <button class="btn-chat" type="submit">Contact</button>
       </div>
     </div>
   </section>
{% endblock content %}

